<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ข้อมูลส่วนตัว</title>
</head>
<body>
    <h1>ข้อมูลส่วนตัว</h1>
    {% if user.is_authenticated %}
    <h1>ชื่อผู้ใช้: {{ user.username }}</h1>
    <a href="{% url 'log_out' %}">ออกจากระบบ</a><br>
    {% for role in user.roles.all %}
    {% if role.name == 'Admin' %}
    <a href="{% url 'Admin_page' %}">Admin</a>
    {% endif %}
    {% if role.name == 'Manager' %}
    <a href="{% url 'Manager_page' %}">Manager</a>
    {% endif %}
    {% if role.name == 'Interviewer' %}
    <a href="{% url 'Interviewer_page' %}">Interviewer</a>
    {% endif %}

  {% endfor %}
     <br>
     <br>
    <div>
    <a href="{% url 'Manager_page'%}">หน้าหลัก</a><br>
    <a href="{% url 'manage_profile'%}">ข้อมูลส่วนตัว</a><br>
    <a href="{% url 'Manage_personnel'%}">จัดการบุคลากร</a><br>
    <a href="{% url 'Manager_Announcement'%}">ประกาศ</a><br>
    <a href="{% url 'Manager_interview'%}">จัดการสัมภาณ์</a><br>
    <a href="{% url 'Manager_Score'%}">คะแนนสัมภาษณ์</a><br>
    <a href="{% url 'Manager_Print_Interview'%}">พิมพ์ผลสัมภาาณ์</a><br>
    <a href="{% url 'Manager_Status'%}">สถานะการสัมภาษณ์</a>
    </div>
    <div>
        <p>ชื่อผู้ใช้-นามสกุล: {{ user.first_name }} {{ user.last_name }}</p>
        <p>อีเมล: {{ user.email }}</p>
        <p>รหัสผ่าน: {{ user.password }}</p>
        <p>คณะ </p>
        <p>สาขาวิชา  </p>
    </div>
    {% else %}
    <a href="/login2"><span>เข้าสู่ระบบ</span></a>
    <br>
    <a href="/first_login"><span>เข้าสู่ระบบครั้งแรก</span></a>
    {% endif %}
</body>
</html>
