{% extends 'manager/base/n_base.html' %}

{% block topic %}
<h1 class="text-3xl text-gray-100 mt-2 text-center">พิมพ์ผลสัมภาาณ์</h1>
{% endblock %}
{% block content %}
<div class="pt-14 px-2">
    <div >
        <form action="{% url 'form_student_all' %}" method="post">
            {% csrf_token %}
            <input type="text" hidden name="index" value="{%for i in student%}{{i.pk}}{% if not loop.last %},{% endif %}{% endfor %}">
            <button type="submit" class="btn btn-secondary">พิมพ์ผลสัมภาาณ์ทั้งหมด</button>
        </form>
    </div>


    <table  class="table table-bordered table-hover">
        <thead>
          <tr>
            <th style="width: 70%">ชื่อ-นามสกุล</th>
            <th style="width: 30%">พิมพ์ผลสัมภาาณ์</th>
          </tr>
        </thead>
        <tbody>
        {%for i in student%}
          <tr>
            <td>{{prefix}}{{i.first_name}} {{i.last_name}}</td>
            <td><a href="form_student/{{i.id}}">พิมพ์</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}
