{% extends 'manager/base/n_base.html' %}

{% block topic %}
<h1 class="text-3xl text-gray-100 mt-2 text-center">จัดการบุคลากร</h1>
{% endblock %}
{% block content %}
<div class="pt-14 px-2">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th class="text-center fs-5 fw-medium">ชื่อ-นามสกุล</th>
                <th class="text-center fs-5 fw-medium">บทบาท</th>
                <th class="text-center fs-5 fw-medium">จัดการ</th>

            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>
                    {% for role in user.roles.all %}
                        {{ role.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <form action="{% url 'increase_manager' %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ user.id }}">
                        <input type="hidden" name="major" value="{{ s_major }}">
                        
                        <button type="submit" ><i class="ti ti-user-plus"></i></button>
                    </form>
                    {% for major in user.manager.all %}
                        {% if major.major == s_major %}
                            <form action="{% url 'decrease_manager' %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ user.id }}">
                                <input type="hidden" name="major" value="{{ s_major }}">
                                <button type="submit"><i class="ti ti-user-minus"></i></button>
                            </form>
                        {% endif %}
                    {% endfor %}
                </td>
                
                
                
            </tr>
            
            
            
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
