{% extends 'manager/base/n_base.html' %}
{% load static %}

{% block css_js %} 
<link rel="stylesheet" href="{% static 'css/manager_css/Score.css' %}" />
<script src="{% static 'js/manager/Score.js' %}"></script>
{% endblock %} 
{% block topic %}
<h1 class="text-3xl text-gray-100 mt-2 text-center">คะแนนสัมภาษณ์</h1>
{% endblock %}
{% block content %}
<div class="pt-14 px-2">
    {% if text == False %}

    <div class="d-flex justify-content-end">
        <button class="btn btn-info fs-4 fw-semibold " onclick="add_ScoreRound()">สร้างใหม่</button>
      </div>
    <div class="container">
        <div class="row">
          {% for pattern in no_topic %}
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <span class="d-flex">
                    <h2 class="fs-6 card-title">ชื่อ:</h2>
                    <h2 class="fs-6 text-primary card-title fw-bolder px-2">{{ pattern.pattern_name }}</h2>
                  </span>
                </div>
                <ul class="list-group list-group-flush">
                  {% for topic in pattern.Score_pattern.all %}
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ topic.topic_name }} : {{ topic.max_score }}
                  </li>
                    {% endfor %}
                    <div class="text-center">
                      <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="round_name" id="round_name" value="{{round}}">
                        <input type="hidden" name="pattern" id="pattern" value="{{pattern.pattern_name}}">
                        <button type="submit" class="btn btn-info mt-2 px-2 py-2">นำไปใช้</button>
                      </form>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
            {% if forloop.counter|divisibleby:3 and not forloop.last %}
          </div><div class="row">
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <div class="container_Scoreadd" id="add_ScoreTopic">
        <div class="text-end">
        <a href="/Manager_Score/{{ round_id.id }}">
          <i class="fs-6 ti ti-x text-danger"></i>
        </a>
        <h1 class="text-center fs-6 fw-semibold text-primary">เพิ่มหัวข้อคะแนนสำหรับรอบ</h1>
        </div>
        <form action="/add_ScorePattern" method="post" class="container mt-4">
          {% csrf_token %}
          <input type="hidden" name="round" id="round" value="{{round_id.id}}">
          <input type="hidden" name="template_num" id="template_num" value="{{round}}">
          <div class="text-center">
            <button type="submit" class="btn btn-info btn-lg mx-2">เพิ่มเทมเพลต</button>
            <a class="btn btn-danger btn-lg mx-2" href="/Manager_Score/{{ round_id.id }}">ยกเลิก</a>
        </div>
    </form>
  </div>
            


    {% else %}

      <div class="container justify-content-center">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <div class="card">
              <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <span class="d-flex">
                      <h2 class="fs-6 card-title">ชื่อ:</h2>
                      <h2 class="fs-6 text-primary card-title fw-bolder px-2">{{ round_id.round_name }} {{ round_id.academic_year }}</h2>
                    </span>
                    <a href="/delete_ScoreTemplate/{{pattern_id}}">
                      <span class="fs-6 text-danger">
                        <i class="ti ti-trash-x"></i>
                      </span>
                    </a>
                  </div>
                <ul class="list-group list-group-flush">
                {% for topic in topics %}
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div> 
                      <h1 class="fs-4">{{ topic.topic_name }} : {{ topic.max_score }}</h1>
                      <h1 class="fs-4 ms-9 text-muted">{{ topic.score_detail }}</h1>
                    </div>
                    <div>
                      <a class="btn btn-info btn-sm" href="javascript:void(0);" onclick="edit_popup
                        ('{{ topic.id }}', '{{ topic.topic_name }}', '{{ topic.max_score }}', '{{ topic.score_detail }}')">แก้ไข</a>
                      <a class="btn btn-danger btn-sm" href="/delete_ScoreTopic/{{topic.id}}">ลบ</a>
                    </div>
                  </li>
                {% endfor %}
                <li class="text-center">
                  <button class="text-center btn btn-info fs-3 fw-semibold px-2 mt-2" onclick="add_ScoreRound()">เพิ่มหัวข้อ</button>
                </li>
                </ul>
              </div>
            </div>
          </div>
      </div>
    </div>

    <div class="container_Scoreadd" id="add_ScoreTopic">
      <div class="text-end">
      <a href="/Manager_Score/{{ round_id.id }}">
        <i class="fs-6 ti ti-x text-danger"></i>
      </a>
      <h1 class="text-center fs-6 fw-semibold text-primary">เพิ่มหัวข้อคะแนนสำหรับรอบ</h1>
      </div>
      <form action="/add_ScoreTopic" method="post" class="container mt-4">
        {% csrf_token %}
        <input type="hidden" name="round" id="round" value="{{round_id.id}}">
        <input type="hidden" name="template_num" id="template_num" value="{{round}}">
        <div class="row mb-3">
              <div class="col">
                <input type="text" name="topic_name" id="topic_name" placeholder="หัวข้อการให้คะแนน" class="form-control">
            </div>
            <div class="col">
              <input type="text" name="max_score" id="max_score" placeholder="คะแนนเต็ม (ตัวเลขเท่านั้น)" class="form-control">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <input type="text" name="score_detail" id="score_detail" placeholder="รายละเอียดของหัวข้อคะแนน" class="form-control">
        </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-info btn-lg">เพิ่มหัวข้อ</button>
      </div>
  </form>
  </div>

  <div class="container_Scoreadd" id="edit_popup">
    <div class="text-end">
    <a href="/Manager_Score/{{ round_id.id }}">
      <i class="fs-6 ti ti-x text-danger"></i>
    </a>
    <h1 class="text-center fs-6 fw-semibold text-primary">แก้ไขหัวข้อคะแนน</h1>
    </div>
    <form action="/edit_ScoreTopic" method="post" class="container mt-4">
      {% csrf_token %}
      <input type="hidden" name="topic_id" id="topic_id">
      <div class="row mb-3">
            <div class="col">
              <input type="text" name="topic_name" id="topic_name_edit" placeholder="หัวข้อการให้คะแนน" class="form-control">
          </div>
          <div class="col">
              <input type="text" name="max_score" id="max_score_edit" placeholder="คะแนนเต็ม" class="form-control">
          </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input type="text" name="score_detail" id="score_detail_edit" placeholder="รายละเอียดของหัวข้อคะแนน" class="form-control">
      </div>
      </div>
      <div class="text-center">
          <button type="submit" class="btn btn-info btn-lg">แก้ไข</button>
      </div>
  </form>
</div>
    {% endif %}
</div>
{% endblock %}

