{% extends 'admin/base/n_base.html' %}
{% load static %}
{% block css_js %} 
<link rel="stylesheet" href="{% static 'css/admin_css/admin_profile.css' %}" />
<script src="{% static 'js/admin_page/admin_profile.js' %}"></script>
{% endblock %} 

{% block topic %}
<h1 class="text-3xl text-gray-100 mt-2 text-center">ข้อมูลส่วนตัว</h1>
{% endblock %}
{% block content %}

<div class="pt-14 px-2">
    <div class='container_profile'>
        <div>
            <label for="">ชื่อผู้ใช้-นามสกุล:</label>
            <p> {{ user.first_name }} {{ user.last_name }}</p>
        </div>
        <div>
            <label for="">อีเมล:</label>
            <p> {{ user.email }}</p>
        </div>    
        <div>
            <label for="">รหัสผ่าน:</label>
            <p class="password"> ********<span class="edit-icon" onclick="changepassword()">✎</span></p>
        </div>
        <div>
            <label for="">คณะ</label>
            <p>{{ user.faculty_set.all.first.faculty }} </p>
        </div>
        <div>
            <label for="">สาขาวิชา</label>
            <p>{{ user.major_set.all.first.major }}</p>
        </div>
    </div>
<div class="changepassword" id="changepassword">
    <div  class="topic">
        <h3 >แก้ไขรหัสผ่าน</h3>
        <a href="profile">
            <i class="fas fa-sign-out-alt"></i> Exit
        </a>
    </div>
        <div>
            <form action="">
                <div class="input_data">
                    <input type="hidden" name="user_id" id="user_id">
                    <div>
                        <label >รหัสผ่านเดิม</label>
                        <input type="text" name="old_password" id="display_first_name" >
                    </div>
                    <div>
                        <label >รหัสผ่านใหม่</label>
                        <input type="text" name="new_password" id="display_last_name" >
                    </div>
                    <div>
                        <label >ยืนยันรหัสผ่านใหม่</label>
                        <input type="text" name="new_password2" id="display_citizen_id" >
                    </div>
                    <div class="bt">
                        <button type="submit">เปลี่ยนรหัสผ่าน</button>
                    </div>
            </form>
        </div> 
</div>

</div>

{% endblock %}