{% extends 'admin/base/n_base.html' %}
{% load static %}

        {% block topic %}
        <div class="fs-8 mt-1 text-muted text-center">
            <span><i class="ti ti-home"></i> หน้าหลัก</span>
        </div>
        {% endblock %}
        {% block content %}
        <link rel="stylesheet" href="{% static 'css/admin_css/admin_index.css' %}" />
            <div class="container-fluid">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-body">
                            <span>
                            <i class="ti ti-news fs-8"></i>
                            </span>
                            <span class="card-title fw-semibold mb-2 text-primary">ประกาศ</span>
                            <div class="card mb-1">
                                <div class="card-body p-2">
                                    <h5>ทดสอบประกาศ 1</h5>
                                </div>
                            </div>
                            <div class="card mb-1">
                                <div class="card-body p-2">
                                    <h5>ทดสอบประกาศ 2</h5>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-body">
                            <span>
                                <i class="ti ti-calendar-event fs-8"></i>
                            </span>
                            <span class="card-title fw-semibold mb-2 text-primary">กำหนดการ</span>

                            <div class="card mb-1">
                                <div class="card-body p-2">
                                    <h5>ทดสอบกำหนดการ 1</h5>
                                </div>
                            </div>
                            <div class="card mb-1">
                                <div class="card-body p-2">
                                    <h5>ทดสอบกำหนดการ 2</h5>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        {% endblock %}
</html>
