{% extends 'admin/base/n_base.html' %}
{% load static %}

{% block css_js %} 
<link rel="stylesheet" href="{% static 'css/admin_css/Round.css' %}" />
<script src="{% static 'js/admin_page/Round.js' %}"></script>
{% endblock %} 
{% block topic %}
<div class="fs-8 mt-1 text-muted text-center">
    <span><i class="ti ti-clipboard-text"></i> รายละเอียดรอบสัมภาษณ์</span>
</div>
{% endblock %}
{% block content %}
<div class="pt-14 px-2">
    <div class="d-flex mb-2 justify-content-end">
        <button class="btn btn-info fs-4 fw-semibold " onclick="add_Round()">เพิ่มรอบ</button>
      </div>
  <table class=" table table-bordered table-hover">
    <thead>
        <tr>
            <th class="text-center fs-5 fw-medium">รอบ</th>
            <th class="text-center fs-5 fw-medium">ปีการศึกษา</th>
            <th class="text-center fs-5 fw-medium">สาขาวิชา</th>
            <th class="text-center fs-5 fw-medium">ผู้ดูแล</th>
            <th class="text-center fs-5 fw-medium">เอกสาร</th>
            <th class="text-center fs-5 fw-medium">เวลา</th>
            <th class="text-center fs-5 fw-medium">จัดการ</th>
        </tr>
    </thead>
    <tbody>
        {% for i in rounds %}
        <tr>
            <td >{{ i.round_name }}</td>
            <td class="text-center">{{ i.academic_year }}</td>
            <td >{{ i.major }}</td>
            <td >{{ i.manager.first_name }} {{ i.manager.last_name }}</td>
            <td >{{ i.documents.all|join:"," }}</td>
            <td class="text-center">{{ i.interview_time }}</td>
            <td class="d-flex justify-content-center">
                <a class="btn btn-secondary btn-sm mx-1 my-1" href="javascript:void(0);" onclick="doc
                ('{{ i.id }}')">เอกสาร</a>
                <a class="btn btn-info btn-sm mx-1 my-1" href="javascript:void(0);" onclick="edit_popup
                    ('{{ i.id }}', '{{ i.round_name }}', '{{ i.academic_year }}', '{{ i.major }}', '{{ i.manager.id }}', '{{ i.interview_time }}')">แก้ไข</a>
                <a class="btn btn-danger btn-sm fs-3 mx-1 my-1" href="delete_InterviewRound/{{i.id}}">ลบ</a>
            </td>
        </tr>
        <div class="container_add_doc" id="add_doc_{{ i.id }}">
            <div class="text-end">
                <a href="/Interview">
                  <i class="fs-6 ti ti-x text-danger"></i>
                </a>
                <h1 class="text-center fs-6 fw-semibold text-primary">เอกสาร - {{ i.round_name }}</h1>
                </div>
                <div id="doc_list"></div>
                <form method="post" class="">
                    {% csrf_token %}
                {% for docs in i.documents.all %}
                    <div class="d-flex row">
                        <input type="hidden" name="remove_round_doc" id="remove_round_doc" value="{{ i.id }}">
                        <input type="hidden" name="remove_doc" id="remove_doc" value="{{ docs.doc_name }}">
                        <h1 class="fs-4 text-center mt-2 col fw-medium">{{docs}}</h1> 
                        <div class="col text-center">
                            <button type="submit" class="btn btn-danger py-1 fs-3 text-center">ลบ</button>
                        </div>
                    </div>
                {% endfor %}
                </form>
                <form method="post" class="container mt-4">
                  {% csrf_token %}
                  <input type="hidden" name="add_round_doc" id="add_round_doc" value="{{ i.id }}">
                    <div class="text-center">
                        <input class="search-bordered fs-4" type="text" name="new_doc" id="new_doc">
                        <button type="submit" class="btn btn-secondary py-1 fs-3 text-center">เพิ่ม</button>
                    </div>
                </form>
        </div>
        {% endfor %}
    </tbody>
</table>


<div class="container_Scoreadd" id="add_RoundForm">
    <div class="text-end">
        <a href="/Interview">
          <i class="fs-6 ti ti-x text-danger"></i>
        </a>
        <h1 class="text-center fs-6 fw-semibold text-primary">เพิ่มรอบสัมภาษณ์</h1>
        </div>
        <form action="/add_InterviewRound" method="post" class="container mt-4">
          {% csrf_token %}
            <div class="row mb-3">
                <div class="col">
                    <input class="form-control" type="text" name="round_name" id="round_name" placeholder="ชื่อรอบ">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <input class="form-control" type="text" name="academic_year" id="academic_year" placeholder="ปีการศึกษา" >
                </div>
                <div class="col">
                    <input class="form-control" type="text" name="interview_time" id="interview_time" placeholder="เวลา (12/12/2564 09:00-12:00)" >
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <select name="faculty" class="form-control" >
                        <option value="">คณะ</option>
                        {% for faculty in faculty_all %}
                            <option value="{{ faculty }}">{{ faculty }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <select name="major" id="majorSelect" class="form-control">
                        <option>สาขา</option>
                        {% for faculty in faculty_all %}
                            {% for major in faculty.major_set.all %}
                                <option value="{{ major }}">{{ major }}</option>
                            {% endfor %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <select name="manager_name" id="manager_name" class="form-control">
                        <option>ผู้ดูแล</option>
                        {% for managers in Manager %}
                            <option value="{{ managers.first_name }}">{{ managers.first_name }} {{ managers.last_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-info btn-lg">เพิ่มรอบ</button>
            </div>
      </form>
    </div>

    <div class="container_Scoreadd" id="edit_popup">
        <div class="text-end">
            <a href="/Interview">
              <i class="fs-6 ti ti-x text-danger"></i>
            </a>
            <h1 class="text-center fs-6 fw-semibold text-primary">แก้ไขรอบสัมภาษณ์</h1>
            </div>
            <form action="/edit_InterviewRound" method="post" class="container mt-4">
              {% csrf_token %}
              <input type="hidden" name="round_id" id="round_id">
                <div class="row mb-3">
                    <div class="col">
                        <input class="form-control" type="text" name="round_name" id="round_name_e" placeholder="ชื่อรอบ">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <input class="form-control" type="text" name="academic_year" id="academic_year_e" placeholder="ปีการศึกษา" >
                    </div>
                    <div class="col">
                        <input class="form-control" type="text" name="interview_time" id="interview_time_e" placeholder="เวลา (12/12/2564 09:00-12:00)" >
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <select name="major" id="majorSelect_e" class="form-control">
                            <option>สาขา</option>
                            {% for faculty in faculty_all %}
                                {% for major in faculty.major_set.all %}
                                    <option value="{{ major }}">{{ major }}</option>
                                {% endfor %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <select name="manager_name" id="manager_name_e" class="form-control">
                            <option>ผู้ดูแล</option>
                            {% for managers in Manager %}
                                <option value="{{ managers.id }}">{{ managers.first_name }} {{ managers.last_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-info btn-lg">แก้ไข</button>
                </div>
          </form>
    </div>
    {% endblock %}
</div>