{% extends 'admin/base/n_base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/admin_css/admin_style.css' %}">
<script src="{% static 'js/toggleiptions.js' %}"></script>
{% block topic %}
<div class="fs-8 mt-1 text-muted text-center">
  <span><i class="ti ti-clipboard-check"></i> การให้คะแนน</span>
</div>
{% endblock %}
{% block content %}

<div class="pt-14 px-2">
  
  <table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="text-center fs-5 fw-medium">หัวข้อคะแนน</th>
            <th class="text-center fs-5 fw-medium">คะแนนเต็ม</th>
            <th class="text-center fs-5 fw-medium">รายละเอียด</th>
            <th class="text-center fs-5 fw-medium">จัดการ</th>
        </tr>
    </thead>
    <tbody>
        {% for topic in Topics %}
        <tr>
            <td >{{ topic.topic_name }}</td>
            <td class="text-center">{{ topic.max_score }}</td>
            <td >{{ topic.score_detail }}</td>
            <td class="d-flex justify-content-center">
                <a class="btn btn-secondary btn-sm fs-3 mx-1" href="#">แก้ไข</a>
                <a class="btn btn-danger btn-sm fs-3 mx-1" href="/delete_ScoreTopic/{{topic.id}}">ลบ</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  <div style="text-align: center; margin-top: 20px;">
    <a href="/Score" style="background-color: #4CAF50; color: white; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border: none; border-radius: 8px; box-shadow: 0 4px 8px rgba(0,0,0,0.2); transition-duration: 0.4s;">เพิ่มหัวข้อการให้คะแนน</a>
  </div>
</div>
{% endblock %}
