{% extends 'admin/base/n_base.html' %}
{% load static %}

{% block css_js %} 
<link rel="stylesheet" href="{% static 'css/admin_css/Score.css' %}" />
<script src="{% static 'js/admin_page/Score.js' %}"></script>
{% endblock %} 
{% block topic %}
<div class="fs-8 mt-1 text-muted text-center">
  <span><i class="ti ti-clipboard-check"></i> การให้คะแนน</span>
</div>
{% endblock %}
{% block content %}
<div class="pt-14 px-2">
  <div class="d-flex justify-content-end">
    <button class="btn btn-info fs-4 fw-semibold " onclick="add_Pattern()">เพิ่มเทมเพลต</button>
  </div>

  <div class="container">
    <div class="row">
      {% for pattern in main_pattern %}
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <span class="d-flex">
                  <h2 class="fs-6 card-title">ชื่อ:</h2>
                  <h2 class="fs-6 text-primary card-title fw-bolder px-2">{{ pattern.pattern_name }}</h2>
                </span>
                <a href="/delete_ScoreTemplate/{{pattern.id}}">
                  <span class="fs-6 text-danger">
                    <i class="ti ti-trash-x"></i>
                  </span>
                </a>
              </div>
              <ul class="list-group list-group-flush">
                {% for topic in pattern.Score_pattern.all %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  {{ topic.topic_name }} : {{ topic.max_score }}
                  <div>
                    <a class="btn btn-info btn-sm" href="javascript:void(0);" onclick="edit_popup
                    ('{{ topic.id }}', '{{ topic.topic_name }}', '{{ topic.max_score }}', '{{ topic.score_detail }}')">แก้ไข</a>
                    <a class="btn btn-danger btn-sm" href="/delete_ScoreTopic/{{topic.id}}">ลบ</a>
                  </div>
                </li>
                {% endfor %}
              </ul>
              <div class="d-flex justify-content-center">
                <a class="btn btn-info fs-3 fw-semibold " onclick="add_Score('{{ pattern.id }}')">เพิ่มหัวข้อ {{ pattern.id }}</a>
              </div>
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:3 and not forloop.last %}
          </div><div class="row">
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="container_Scoreadd" id="add_ScorePattern">
    <div class="text-end">
    <a href="/Score">
      <i class="fs-6 ti ti-x text-danger"></i>
    </a>
    <h1 class="text-center fs-6 fw-semibold text-primary">เพิ่มเทมเพลต</h1>
    </div>
    <form action="/add_ScorePattern" method="post" class="container mt-4">
      {% csrf_token %}
      <div class="row mb-3">
            <div class="col">
              <input type="text" name="pattern_name" id="pattern_name" placeholder="ชื่อเทมเพลต" class="form-control">
          </div>
      </div>
      <div class="text-center">
          <button type="submit" class="btn btn-info btn-lg">เพิ่ม</button>
      </div>
  </form>
  </div>

  <div class="container_Scoreadd" id="add_ScoreTopic">
    <div class="text-end">
    <a href="/Score">
      <i class="fs-6 ti ti-x text-danger"></i>
    </a>
    <h1 class="text-center fs-6 fw-semibold text-primary">เพิ่มหัวข้อคะแนน</h1>
    </div>
    <form action="/add_ScoreTopic" method="post" class="container mt-4">
      {% csrf_token %}
      <input type="text" name="template_num" id="template_num">
      <div class="row mb-3">
        <div class="col">
          <input type="text" name="topic_name" id="topic_name" placeholder="หัวข้อการให้คะแนน" class="form-control">
        </div>
        <div class="col">
          <input type="text" name="max_score" id="max_score" placeholder="คะแนนเต็ม (ตัวเลขเท่านั้น)" class="form-control">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input type="text" name="score_detail" id="score_detail" placeholder="รายละเอียดของหัวข้อคะแนน" class="form-control">
        </div>
      </div>
      <div class="text-center">
          <button type="submit" class="btn btn-info btn-lg">เพิ่มหัวข้อ</button>
      </div>
    </form>
  </div>

  <div class="container_Scoreadd" id="edit_popup">
      <div class="text-end">
      <a href="/Score">
        <i class="fs-6 ti ti-x text-danger"></i>
      </a>
      <h1 class="text-center fs-6 fw-semibold text-primary">แก้ไขหัวข้อคะแนน</h1>
      </div>
      <form action="/edit_ScoreTopic" method="post" class="container mt-4">
        {% csrf_token %}
        <input type="hidden" name="topic_id" id="topic_id">
        <div class="row mb-3">
              <div class="col">
                <input type="text" name="topic_name" id="topic_name_edit" placeholder="หัวข้อการให้คะแนน" class="form-control">
            </div>
            <div class="col">
                <input type="text" name="max_score" id="max_score_edit" placeholder="คะแนนเต็ม" class="form-control">
            </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <input type="text" name="score_detail" id="score_detail_edit" placeholder="รายละเอียดของหัวข้อคะแนน" class="form-control">
        </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-info btn-lg">แก้ไข</button>
        </div>
    </form>
  </div>

  {% endblock %}
</div>