{% extends 'admin/base/n_base.html' %}
{% load static %}

{% block css_js %} 
<link rel="stylesheet" href="{% static 'css/admin_css/TemporaryUser.css' %}" />
<script src="{% static 'js/admin_page/TemporaryUser.js' %}"></script>
{% endblock %} 


{% block topic %}
<h1 class="text-3xl text-gray-100 mt-2 text-center">ผู้ใช้ชั่วคราว</h1>
{% endblock %}
{% block content %}
<div class="pt-14 px-2">
    <div class="button-container">
        <button onclick="add_TemporaryUser()">เพิ่มผู้ใช้งาน</button>
    </div>
    
    <div class="table-container">
        <table class="user">
            <thead>
                <tr>
                    <th>ชื่อ-นามสกุล</th>
                    <th>เลขบัตรประชาชน</th>
                    <th>คณะ</th>
                    <th>สาขาวิชา</th>
                    <th>จัดการข้อมูล</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                    <td>{{ user.citizen_id }}</td>
                    <td>{{ user.faculty_set.all.first.faculty }}</td>
                    <td>{{ user.major_set.all.first.major }}</td>
                    <td>
                        <a href="">ดูข้อมูล</a> |
                        <a href="javascript:void(0);" onclick="edit_popup
                        ('{{ user.id }}', '{{ user.first_name }}', '{{ user.last_name }}',
                        '{{ user.faculty_set.all }}','{{ user.major_set.all}}','{{ user.citizen_id }}','{{user.birth_date}}')">แก้ไข</a> |
                        <a href="delete_TemporaryUser/{{user.id}}">ลบ</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container_edit" id="edit_popup">
        <form action="{% url 'edit_TemporaryUser' %}" method="post">
            {% csrf_token %}
            <div  class="topic">
                <h3 >แก้ไขข้อมูล</h3>
                <a href="TemporaryUser">
                    <i class="fas fa-sign-out-alt"></i> Exit
                </a>
            </div>  
            <div class="input_data">
                <input type="hidden" name="user_id" id="user_id">
                <div>
                    <label >ชื่อ</label>
                    <input type="text" name="field1" id="first_name" placeholder="">
                </div>
                <div>
                    <label >ชื่อ-นามสกุล</label>
                    <input type="text" name="field3" id="last_name" placeholder="">
                </div>
                <div>
                    <label >เลขบัตรประชาชน</label>
                    <input type="text" name="field4" id="citizen_id" placeholder="">
                </div>
                <div>
                    <label>วัน/เดือน/ปีเกิด</label>
                    <input type="date" name="field5" id="birth_date" placeholder="">
                </div>


                
                
            
                
            </div>
            <div class="bt">
            <button type="submit">ยืนยันการแก้ไขข้อมูล</button>
        </div>
        </form>
    </div>

    

    <div class="container_add" id="add_TemporaryUser">
        <form action="{% url 'add_TemporaryUser' %}" method="post">
            {% csrf_token %}
            <div  class="topic">
                <h3 >สร้างผู้ใช้งาน</h3>
                <a href="TemporaryUser">
                    <i class="fas fa-sign-out-alt"></i> Exit
                </a>
            </div>       
            <div class="input_data">
                <div >
                    <label for="first_name">ชื่อ</label>
                    <input type="text" name="first_name" id="first_name">
                </div>
                <div>
                    <label for="last_name">นามสกุล</label>
                    <input type="text" name="last_name" id="last_name">
                </div>
                <div>
                    <label for="citizen_id">เลขบัตรประชาชน</label>
                    <input type="text" name="citizen_id" id="citizen_id">
                </div>
                <div>
                    <label for="birth_date">วัน/เดือน/ปี</label>
                    <input type="date" name="birth_date" id="birth_date" onchange="convertToBuddhistEra(this.value)">
                </div>
            </div>
            <div class="faculty_major">
                <select name="faculty">
                    <option value="">คณะ</option>
                    {% for faculty in faculty_all %}
                        <option value="{{ faculty }}">{{ faculty }}</option>
                    {% endfor %}
                </select>
                
                <select name="major" id="majorSelect">
                    <option>สาขา</option>
                    {% for faculty in faculty_all %}
                        {% for major in faculty.major_set.all %}
                            <option value="{{ major }}">{{ major }}</option>
                        {% endfor %}
                    {% endfor %}
                </select>
            </div>
            <div  class="title_role">
                <h3 >หน้าที่</h3>
            </div> 
            <div class="radio">
                <input type="checkbox" id="checkbox1" name="checkboxgroup" value="Admin">
                <label for="checkbox1">Admin</label>
            
                <input type="checkbox" id="checkbox2" name="checkboxgroup" value="Manager">
                <label for="checkbox2">Manager</label>
            
                <input type="checkbox" id="checkbox3" name="checkboxgroup" value="Interviewer">
                <label for="checkbox3">Interviewer</label>
            
                <input type="checkbox" id="checkbox4" name="checkboxgroup" value="Student">
                <label for="checkbox4">Student</label>
            </div>
            <br>
            <div class="bt">
                <button  type="submit">สร้างบัญชีผู้ใช้</button>
            </div>
            
        </form>

    </div>



</div>


{% endblock %}
