{% extends 'admin/base/n_base.html' %}

{% block topic %}
<h1 class="text-3xl text-gray-100 mt-2 text-center">ผู้ใช้ชั่วคราว</h1>
{% endblock %}
{% block content %}
<div class="pt-14 px-2">
    <div>
        <div class="container" id="add_TemporaryUser">
            <form action="{% url 'add_TemporaryUser' %}" method="post">
                {% csrf_token %}
                <h3>สร้างผู้ใช้งาน</h3>
                ชื่อ<input type="text" name="first_name" id=""><br>
                ชืนามสกุล<input type="text" name="last_name" id=""><br>
                เลขบัตรประชาชน<input type="text" name="citizen_id" id=""><br>
                วัน/เดือน/ปี<input type="date" name="birth_date" id=""><br>
                <select name="faculty">
                    <option value="">คณะ</option>
                    {% for faculty in faculty_all %}
                        <option value="{{ faculty }}">{{ faculty }}</option>
                    {% endfor %}
                </select>
                
                <select name="major" id="majorSelect">
                    <option>สาขา</option>
                    {% for faculty in faculty_all %}
                        {% for major in faculty.major_set.all %}
                            <option value="{{ major }}">{{ major }}</option>
                        {% endfor %}
                    {% endfor %}
                </select>
                <br>
                <div class="radio">
                    <h4>บทบาท</h4>
                    <input type="checkbox" id="checkbox1" name="checkboxgroup" value="Admin">
                    <label for="checkbox1">Admin</label>
                  
                    <input type="checkbox" id="checkbox2" name="checkboxgroup" value="Manager">
                    <label for="checkbox2">Manager</label>
                  
                    <input type="checkbox" id="checkbox3" name="checkboxgroup" value="Interviewer">
                    <label for="checkbox3">Interviewer</label>
                
                    <input type="checkbox" id="checkbox4" name="checkboxgroup" value="Student">
                    <label for="checkbox4">Student</label>
                </div>
                
                <br>
                <button type="submit">สร้างบัญชีผู้ใช้</button>
            </form>

        </div>
        <button onclick="add_TemporaryUser()">เพิ่มผู้ใช้งาน</button>
    </div>
  <table>
    <thead>
        <tr>
            <th>ชื่อ-นามสกุล</th>
            <th>เลขบัตรประชาชน</th>
            <th>คณะ</th>
            <th>สาขาวิชา</th>
            <th>จัดการข้อมูล</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.citizen_id }}</td>
            <td>{{ user.faculty }}</td>
            <td>{{ user.major }}</td>
            <td><a href="#">ดูข้อมูล</a> | <a href="#">แก้ไข</a> | <a href="delete_TemporaryUser/{{user.id}}">ลบ</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
