{% extends 'admin/base/n_base.html' %}

{% block topic %}
<h1 class="text-3xl text-gray-100 mt-2 text-center">ผู้ใช้ชั่วคราว</h1>
{% endblock %}
{% block content %}
<div class="pt-14 px-2">
    <div>
        <div class="container" id="add_TemporaryUser">
            <form action="">
                <h3>สร้างผู้ใช้งาน</h3>
                ชื่อ-นามสกุล<input type="text" name="name" id=""><br>
                เลขบัตรประชาชน<input type="text" name="citizen_id" id=""><br>
                วัน/เดือน/ปี<input type="date" name="birth_date" id=""><br>
                <button type="submit">สร้างบัญชีผู้ใช้</button>
            </form>

        </div>
        <button onclick="add_TemporaryUser()">เพิ่มผู้ใช้งาน</button>
    </div>
  <table>
    <thead>
        <tr>
            <th>ชื่อ-นามสกุล</th>
            <th>เลขบัตรประชาชน</th>
            <th>คณะ</th>
            <th>สาขาวิชา</th>
            <th>จัดการข้อมูล</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.citizen_id }}</td>
            <td>{{ user.faculty }}</td>
            <td>{{ user.major }}</td>
            <td><a href="#">ดูข้อมูล</a> | <a href="#">แก้ไข</a> | <a href="#">ลบ</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
