{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>เข้าสู่ระบบ</title>
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}" />
  </head>

  <body style="background-image: url('/static/img/login-1800x1200.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
  data-sidebar-position="fixed" data-header-position="fixed">
  <div
    class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
    <div class="d-flex align-items-center justify-content-center w-100">
      <div class="row justify-content-center w-100">
        <div class="col-md-8 col-lg-6 col-xxl-3">
          <div class="card mb-0">
            <div class="card-body">
              <h1 class="text-center pb-sm-6">เข้าสู่ระบบ</h1>
              <form method=POST  action="{% url 'log_in' %}">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">ชื่อผู้ใช้ (Username)</label>
                  <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
                </div>
                <div class="mb-4">
                  <label for="exampleInputPassword1" class="form-label">รหัสผ่าน (Password)</label>
                  <input type="password" class="form-control" name="password">
                </div>
                <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-2 rounded-2 " >เข้าสู่ระบบ</button>
                {% load socialaccount %}
                <div class="row justify-content-center">
                  <a href="{% url 'social:begin' 'google-oauth2' %}"  class="col-5 btn btn-danger me-2 py-8 fs-4 mb-4 rounded-2">Google</a>
                  <a href="{% url 'first_login' %}"  class="col-5 btn btn-success py-8 fs-4 mb-4 rounded-2">เข้าสู่ระบบครั้งแรก</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </body>
</html>


