{% load static %}
{% block css_js %} 
<link rel="stylesheet" href="{% static 'css/admin_css/admin_profile.css' %}" />
<script src="{% static 'js/admin_page/admin_profile.js' %}"></script>
{% endblock %} 

{% block topic %}
<div class="fs-8 text-muted text-center" style="margin-top: -17px;">
    <span><i class="ti ti-user-circle"></i> ข้อมูลส่วนตัว</span>
    <h1 class="full-width-underline"></h1>
</div>
{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="card w-100">
                <div class="card-body mini-card-body">
                    <h4>ชื่อ-นามสกุล : {{ user.first_name }} {{ user.last_name }}</h5>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card w-100">
                <div class="card-body d-flex justify-content-between mini-card-body">
                    <h5>รหัสผ่าน : ******</h5>
                    <span class="text-primary fs-6 edit-icon" onclick="changepassword('{{ user.id }}')">✎</span>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex">
        <div class="card w-100 mini-card">
            <div class="card-body mini-card-body">
                <h4>Email : {{ user.email }}</h5>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="card w-100 mini-card">
                <div class="card-body mini-card-body">
                    <h4>คณะ : {{ user.faculty_set.all.first.faculty }}</h5>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card w-100 mini-card">
                <div class="card-body mini-card-body">
                    <h5>หลักสูตร : {{ user.major_set.all.first.major }}</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="card w-100 mini-card">
                <div class="card-body mini-card-body">
                    <h4>เลขประจำตัวประชาชน : {{ user.citizen_id }}</h5>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card w-100 mini-card">
                <div class="card-body mini-card-body">
                    <h5>เบอร์โทร : {{ user.phone_number }}</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex">
        <div class="card w-100 mini-card">
            <div class="card-body mini-card-body">
                <h4>ที่อยู่ : {{ user.address }} {{ user.postcode }}</h5>
            </div>
        </div>
    </div>

    <div class="d-flex">
        <div class="card w-100 mini-card">
            <div class="card-body mini-card-body">
                <h4>วันเกิด : {{ user.birth_date }}</h5>
            </div>
        </div>
    </div>

<div class="changepassword" id="changepassword">
    <div  class="topic">
        <h3 >แก้ไขรหัสผ่าน</h3>
        <a href="profile">
            <i class="fas fa-sign-out-alt"></i> Exit
        </a>
    </div>
        <div>
            <form action="{% url 'edit_password_in_profile' %}" method="post">
                {% csrf_token %}
                <div class="input_data">
                    <input type="hidden" name="user_id" id="user_id">
                    <div>
                        <label >รหัสผ่านเดิม</label>
                        <input type="text" name="old_password" id="display_first_name" >
                    </div>
                    <div>
                        <label >รหัสผ่านใหม่</label>
                        <input type="text" name="new_password" id="display_last_name" >
                    </div>
                    <div>
                        <label >ยืนยันรหัสผ่านใหม่</label>
                        <input type="text" name="new_password2" id="display_citizen_id" >
                    </div>
                    <div class="bt">
                        <button type="submit">เปลี่ยนรหัสผ่าน</button>
                    </div>
            </form>
        </div> 
</div>

</div>

{% endblock %}