<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/styles.min.css' %}" />
      </head>
<body>
    <!-- Sidebar Start -->
<aside class="left-sidebar position-fixed">

    <!-- Sidebar scroll-->
    <div>
        {% if user.is_authenticated %}
        <a href="{% url 'log_out' %}">
            <i class="ti ti-logout fs-8 text-danger"style="display: block; text-align: center;"></i>
        </a>
        <p class="text-center pt-3 fw-bolder fs-6 text-muted">{{ user.first_name }} {{ user.last_name }}</p>
        <p class="text-center fw-bolder fs-6 text-muted">{{ user.citizen_id|slice:":4" }}****{{ user.citizen_id|slice:"-3:" }}</p>
        <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
          <i class="ti ti-x fs-8"></i>
        </div>
        <div class="text-center">
            {% for role in user.roles.all %}
                {% if role.name == 'Admin' %}
                <a href="{% url 'Admin_page' %}" class="btn btn-primary fs-2 fw-semibold lh-sm">Admin</a>
                {% endif %}
                {% if role.name == 'Manager' %}
                <a href="{% url 'Manager_page' id=user.id %}" class="btn btn-primary fs-2 fw-semibold lh-sm">Manager</a>
                {% endif %}
                {% if role.name == 'Interviewer' %}
                <a href="{% url 'Interviewer_page' %}" class="btn btn-primary fs-2 fw-semibold lh-sm">Interviewer</a>
                {% endif %}
            {% endfor %}
        </div>
    
      </div>

      <!-- Sidebar navigation-->
      <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
        <ul id="sidebarnav">

          <li class="sidebar-item mt-3">
            <a class="sidebar-link" href="{% url 'Interviewer_page'%}" aria-expanded="false">
              <span>
                <i class="ti ti-home"></i>
              </span>
              <span class="hide-menu fs-4">หน้าหลัก</span>
            </a>
          </li>

          <li class="sidebar-item">
            <a class="sidebar-link" href="{% url 'Interviewer_Profile'%}" aria-expanded="false">
              <span>
                <i class="ti ti-user-circle"></i>
              </span>
              <span class="hide-menu fs-4">ข้อมูลส่วนตัว</span>
            </a>
          </li>

          <li class="sidebar-item">
            <a class="sidebar-link" href="{% url 'Interviewer_room'%}" aria-expanded="false">
              <span>
                <i class="ti ti-book"></i>
              </span>
              <span class="hide-menu fs-4">ห้องสัมภาษณ์</span>
            </a>
          </li>
          {% if user.interview_link.all %}
          {% for link in user.interview_link.all %}
          <div class="justify-content-center">        
            <form method="post" action="{% url 'toggle_status_active' link.id %}">
              {% csrf_token %}
              <input type="hidden" name="link_id" value="{{ link.id }}">
              <button class="btn fs-3 {% if link.active %}btn-danger{% else %}btn-success{% endif %}" type="submit">{{ link.active|yesno:"ไม่พร้อมสัมภาษณ์,พร้อมสัมภาษณ์" }}</button>
          </form>
            <form action="/add_meetlink" method="post">
              {% csrf_token %}
              <input class="search-bordered fs-4" type="text" name="link" id="link" value="{{ link.link }}">
              <button class="search-bordered btn btn-secondary px-1 py-1" type="submit"><i class="ti fs-6 ti-device-floppy"></i></button>
            </form>
          </div>
          {% endfor %}

          {% else %}

          <form action="/add_meetlink" method="post">
            {% csrf_token %}
            <input class="search-bordered fs-4" type="text" name="link" id="link" value="">
            <button class="search-bordered btn btn-secondary px-1 py-1" type="submit"><i class="ti fs-6 ti-device-floppy"></i></button>
          </form>

          {% endif %}

        </ul>
      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
  </aside>
  <!--  Sidebar End -->
  {% endif %}
</body>
</html>