{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login_css/confirm_email.css' %}">
    <title>ยืนยันอีเมล</title>
</head>
<body>
         <div class="container">
        <form method="post" action=" {% url 'changepassword' %}">
            {% csrf_token %}  
            <div class="login-box">
                <label>เปลี่ยนรหัสผ่าน</label>
                <input class="user-label" type="text"  name="password_old" placeholder="รหัสผ่านเดิม">
                <input class="user-label" type="text"  name="password_new1" placeholder="รหัสผ่านใหม่">
                <input class="user-label" type="text"  name="password_new2" placeholder="ยืนยันรหัสผ่านใหม่">
                <button type="submit" class="user-confirm_email">ยืนยันการเปลี่ยนรหัสผ่าน </button>
                <button type="button"  onclick="window.location.href = '/'" class="user-confirm_email">ไม่ต้องการเปลี่ยนรหัสผ่าน</button>

            </div>
        </form>
        </div>
    
</body>
</html>