{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login_css/confirm_email.css' %}">
    <title>ยืนยันรหัส 7 หลัก</title>
</head>
<body>
        <div class="container">
        <form method="post" action=" {% url 'confirm_email' %}">
            {% csrf_token %} 
            <div class="login-box2">
                <label>ยืนยันรหัส</label>
                <input class="user-label" type="text" name="passemail" placeholder=" รหัส 7 หลัก">
                <button type="submit" class="user-confirm_email">ยืนยันรหัสผ่าน</button>
            </div>
        </form>
        </div>
    
</body>
</html>