{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login_css/confirm_email.css' %}">
    <title>ยืนยันอีเมล</title>
</head>
<body>
         <div class="container">
        <form method="post" action=" {% url 'send_email_password' %}">
            {% csrf_token %}  
            <div class="login-box">
                <label>กรอกอีเมล</label>
                <input class="user-label" type="text"  name="email" placeholder="อีเมล">
                <button type="submit" class="user-confirm_email">ขอรหัสยืนยัน </button>
            </div>
        </form>
</body>
</html>