{% extends 'student/base/n_base.html' %}
{% load static %}

{% block css_js %} 
<link rel="stylesheet" href="{% static 'css/student_css/document.css' %}" />
<script src="{% static 'js/student/document.js' %}"></script>
{% endblock %} 
{% block topic %}
<h1 class="text-3xl text-gray-100 mt-2 text-center">ลงทะเบียนสัมภาษณ์</h1>
{% endblock %}
{% block content %}
<div class="pt-14 px-2">
    
    {% for r in rounds %}
    <div class="card w-100">
        <div class="card-body mini-card-body d-flex justify-content-between">
            <div class="d-flex">
                <h4 class="fs-5 text-primary mt-auto">{{ r.round_name }} ({{ r.academic_year }})</h4> 
                <h4 class="fs-5 text-dark ms-2 mt-auto"> {{ r.major }} | เอกสารที่จำเป็น :</h4>
                <h4 class="fs-5 text-warning mt-auto"> {{ r.documents }}</h4>
            </div>
            <div class="d-flex">
                <h4 class="fs-5 fw-bolder text-success mt-auto me-5">{{ r.interview_time }}</h4>
                <button class="btn btn-secondary btn-sm fs-3 mx-1" onclick="upload('{{ r.documents }}', '{{ r.id }}')">อัปโหลดเอกสาร</button>
            {% if r.active and r.id not in registered_rounds %}
                <form method="post" action="{% url 'register_interview' r.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="round_id" value="{{ r.id }}">
                    <button type="submit" class="btn btn-success">ลงทะเบียน</button>
                </form>
            {% elif r.id in registered_rounds %}
                <button class="btn btn-secondary" disabled>ลงทะเบียนแล้ว</button>
            {% else %}
                <button class="btn btn-muted" disabled>ลงทะเบียน</button>
            {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="container_Scoreadd" id="upload_popup">
        <div class="text-end">
        <a href="/Student_register">
          <i class="fs-6 ti ti-x text-danger"></i>
        </a>
        <h1 class="text-center fs-6 fw-semibold text-primary">อัปโหลดเอกสาร</h1>
        </div>
        <form action="/Student_register" method="post" enctype="multipart/form-data" class="container mt-4">
            {% csrf_token %}
            <input type="hidden" name="round_id" id="round_id">
            <select name="doc_name" id="doc_name">
            </select>
            <input type="file" name="file_name" id="file_name">
            <div class="text-center">
                <button type="submit" class="btn btn-info btn-lg">อัปโหลด</button>
            </div>
        </form>
    </div>

</div>
{% endblock %}
