{% extends 'student/base/n_base.html' %}

{% block topic %}
<div class="fs-8 mt-1 text-muted text-center">
    <span><i class="ti ti-home"></i> หน้าหลัก</span>
</div>
<div class="container-fluid">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <span>
                <i class="ti ti-news fs-8"></i>
                </span>
                <span class="card-title fw-semibold mb-2 text-primary">ประกาศ</span>
                {% for i in am %}
                <div class="card mb-1">
                    <div class="card-body p-2">
                        <h5 class="text_date" style="display: none;" data-post-date="{{ i.post_date }}"></h5>
                        <h5 class="display_birth_date" style="display: inline-block; margin-right: 5px;"></h5>
                        <h5 style="display: inline-block;">|{{ i.title }}</h5>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <span>
                    <i class="ti ti-calendar-event fs-8"></i>
                </span>
                <span class="card-title fw-semibold mb-2 text-primary">กำหนดการ</span>

                <div class="card mb-1">
                    <div class="card-body p-2">
                        <h5>ทดสอบกำหนดการ 1</h5>
                    </div>
                </div>
                <div class="card mb-1">
                    <div class="card-body p-2">
                        <h5>ทดสอบกำหนดการ 2</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
         // ใช้ querySelectorAll เพื่อเข้าถึงทุก elements ที่มี class 'text_date'
         var birthDateElements = document.querySelectorAll('.text_date');
         
         birthDateElements.forEach(function(birthDateElement) {
             var birthDate = birthDateElement.getAttribute('data-post-date').trim();
             display_hbd(birthDate, birthDateElement.nextElementSibling);
         });
     });
     
     function display_hbd(birth_date, displayElement) {
         var months = {
             'Jan.': 'ม.ค.',
             'Feb.': 'ก.พ.',
             'March': 'มี.ค.',
             'April': 'เม.ย.',
             'May.': 'พ.ค.',
             'June': 'มิ.ย.',
             'July': 'ก.ค.',
             'Aug.': 'ส.ค.',
             'Sept.': 'ก.ย.',
             'Oct.': 'ต.ค.',
             'Nov.': 'พ.ย.',
             'Dec.': 'ธ.ค.'
         };
         var birth_date_split = birth_date.split(' ');
         var hbd_day = birth_date_split[1].split(',')[0];
         var new_year =  parseInt(birth_date_split[2])+543;
         var new_HBD = hbd_day + ' ' + months[birth_date_split[0]] + ' ' + new_year;
     
         displayElement.innerText = new_HBD;
     }
     
     
       </script>
</div>


<div class="pt-14 px-2">
    <!-- asdsad
</div>
{% endblock %}
