{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/admin_css/admin_style.css' %}">
    <script src="{% static 'js/toggleiptions.js' %}"></script>
    </script><script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="flex w-full">

    <!-- SideBar -->
    {% include 'admin/base/sidebar.html' %}
        <div class="w-4/5 flex flex-col min-h-screen bg-white">
        <!-- TopBar -->
        <div class="fixed top-0 w-4/5">
            <div class="bg-blue-900 flex w-full h-14 ">
                <div class="flex mx-auto">
                    <img class="" src="{% static 'Ubu_logo.png'%}" alt="logo" width="40" height="40">
        
                    <!-- Page Name <h1 class=" text-3xl text-gray-100 mt-2 text-center">  </h1>-->
                    {% block topic %} 
                
                    {% endblock %} 
                </div>
            </div>
        </div>

        <!-- Content -->
        {% block content %} 
        {% endblock %} 
        </div>
    </div>
</body>
</html>