<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/styles.min.css' %}" />
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      </head>
<body>
    <!-- Sidebar Start -->
<aside class="left-sidebar position-fixed">

    <!-- Sidebar scroll-->
    <div>
        {% if user.is_authenticated %}
        <a href="{% url 'log_out' %}">
            <i class="ti ti-logout fs-8 text-danger"style="display: block; text-align: center;"></i>
        </a>
        <p class="text-center pt-3 fw-bolder fs-6 text-muted">{{ user.first_name }} {{ user.last_name }}</p>
        <p class="text-center fw-bolder fs-6 text-muted">{{ user.citizen_id|slice:":4" }}****{{ user.citizen_id|slice:"-3:" }}</p>
                
        {% for major in user.default_manager.all %}
          สาขา {{ major.major }}
        {% endfor %}
      


        {% if s_major %}
           {{ s_major }}
           {{ s_round }}
        {% endif %}
      
        <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
          <i class="ti ti-x fs-8"></i>
        </div>
        <div class="text-center">
            {% for role in user.roles.all %}
                {% if role.name == 'Admin' %}
                <a href="{% url 'Admin_page' %}" class="btn btn-primary fs-2 fw-semibold lh-sm">Admin</a>
                {% endif %}
                {% if role.name == 'Manager' %}
                <a href="{% url 'Manager_page' id=user.id %}" class="btn btn-warning fs-2 fw-semibold lh-sm">Manager</a>
                {% endif %}
                {% if role.name == 'Interviewer' %}
                <a href="{% url 'Interviewer_page' %}" class="btn btn-primary fs-2 fw-semibold lh-sm">Interviewer</a>
                {% endif %}
            {% endfor %}
        </div>
        
        {% endif %}
      </div>

      <!-- Sidebar navigation-->
      <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
        <ul id="sidebarnav">

          <li class="sidebar-item mt-3">
            <a class="sidebar-link" href="{% url 'Manager_page' id=user.id %}" aria-expanded="false">
              <span>
                <i class="ti ti-home"></i>
              </span>
              <span class="hide-menu fs-4">หน้าหลัก</span>
            </a>
          </li>

          <li class="sidebar-item">
            <a class="sidebar-link" href="{% url 'manage_profile'%}" aria-expanded="false">
              <span>
                <i class="ti ti-user-circle"></i>
              </span>
              <span class="hide-menu fs-4">ข้อมูลส่วนตัว</span>
            </a>
          </li>

          <li class="sidebar-item">
            <a class="sidebar-link" href="{% url 'Manage_personnel'%}" aria-expanded="false">
              <span>
                <i class="ti ti-book"></i>
              </span>
              <span class="hide-menu fs-4">จัดการบุคลากร</span>
            </a>
          </li>

          <li class="sidebar-item">
            <a class="sidebar-link" href="{% url 'Manage_User'%}" aria-expanded="false">
              <span>
                <i class="ti ti-book"></i>
              </span>
              <span class="hide-menu fs-4">จัดการสมาชิก</span>
            </a>
          </li>

          <li class="sidebar-item">
            <a class="sidebar-link" href="{% url 'Manager_Announcement'%}" aria-expanded="false">
              <span>
                <i class="ti ti-book"></i>
              </span>
              <span class="hide-menu fs-4">ประกาศ</span>
            </a>
          </li>

          <li class="sidebar-item">
            <a class="sidebar-link" href="{% url 'Manager_interview'%}" aria-expanded="false">
              <span>
                <i class="ti ti-book"></i>
              </span>
              <span class="hide-menu fs-4">จัดการสัมภาษณ์</span>
            </a>
          </li>

          <li class="sidebar-item">
            <a class="sidebar-link" href="{% url 'Manager_Score'%}" aria-expanded="false">
              <span>
                <i class="ti ti-book"></i>
              </span>
              <span class="hide-menu fs-4">คะแนนสัมภาษณ์</span>
            </a>
          </li>
          
          <li class="sidebar-item">
            <a class="sidebar-link" href="{% url 'Manager_Status'%}" aria-expanded="false">
              <span>
                <i class="ti ti-book"></i>
              </span>
              <span class="hide-menu fs-4">สถานะการสัมภาษณ์</span>
            </a>
          </li>


          <li class="sidebar-item">
            <a class="sidebar-link" href="{% url 'Manager_Print_Interview'%}" aria-expanded="false">
              <span>
                <i class="ti ti-book"></i>
              </span>
              <span class="hide-menu fs-4">พิมพ์ผลสัมภาษณ์</span>
            </a>
          </li>
          <form action="{% url 'chang_major' %}" method="post" >
            {% csrf_token %}
            <div class="faculty_major">
                <select name="major" id="id_faculty_selection" style="width: 100% ; text-align: center;">
                    <option value="">สาขา</option>
                    {% for major in majors %}
                    <option value="{{major}}">{{major.major}}</option>
                    {% endfor %}
                </select>
                <select   name="round" id="id_round_second" style="width: 100%; text-align: center;">
                  <option >รอบ</option>
              </select>
                <button type="submit" style="width: 100%;">เปลี่ยนสาขา</button>
            </div>
       
        </form>

        </ul>
      </nav>
    </div>
    <!-- End Sidebar scroll-->
  </aside>
  <!--  Sidebar End -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
      $("#id_faculty_selection").change(function () {
          const url = "{% url 'ajax_select_round' %}"; 
          const facultyname = $(this).val(); 
  
          $.ajax({                       
              url: url,                   
              data: {
                  'faculty': facultyname      
              },
              success: function (data) {   
                  $("#id_round_second").html(data); 
              }
          });
      });

  </script>
</body>
</html>