{% extends 'Interviewer/base/n_base.html' %}
{% load static %}

{% block css_js %} 
<link rel="stylesheet" href="{% static 'css/interviewer_css/interview_room.css' %}" />
<script src="{% static 'js/interviewer/interview_room.js' %}"></script>
{% endblock %} 
{% block topic %}
<div class="fs-8 mt-1 text-muted text-center">
  <span><i class="ti ti-book"></i> ห้องสัมภาษณ์</span>
</div>
{% endblock %}
{% block content %}
<div class="mt-14 mx-3">
            {% for link in user.interview_link.all %}
            <div class="row">       
                <form class="col d-flex" method="post" action="{% url 'toggle_status_active' link.id %}">
                  {% csrf_token %}
                  <input type="hidden" name="link_id" value="{{ link.id }}">
                  <h1 class="fs-6 fw-bolder mt-1 me-1">สถานะขณะนี้ : </h1>
                  {% if link.active %}
                  <h1 class="fs-6 fw-bolder mt-1 text-success">พร้อมสัมภาษณ์</h1>
                  {% else %}
                  <h1 class="fs-6 fw-bolder mt-1 text-danger">ไม่พร้อมสัมภาษณ์</h1>
                  {% endif %}
                  <button class="btn fs-3 px-2 mx-2 {% if link.active %}btn-danger{% else %}btn-success{% endif %}" type="submit">{{ link.active|yesno:"เปลี่ยนสถานะ,เปลี่ยนสถานะ" }}</button>
              </form>
                <form class="col d-flex" action="/add_meetlink" method="post">
                  {% csrf_token %}
                  <h1 class="fs-5 fw-bolder mt-1">Meet : </h1>
                  <input class="mx-2 search-bordered fs-4" style="width: 80%;" type="text" name="link" id="link" value="{{ link.link }}">
                  <button class="search-bordered btn btn-secondary px-2 py-1" type="submit"><i class="ti fs-6 ti-device-floppy"></i></button>
                </form>
              {% endfor %}
            </div>

    

    {% if not_selected %}
    <div class="row mt-3">
    {% for r in rounds %}
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <span class="d-flex">
              <h2 class="fs-6 card-title">รอบ:</h2>
              <h2 class="fs-6 text-primary card-title fw-bolder px-2">{{ r.round_name }} {{ r.academic_year }}</h2>
            </span>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-center text-success fw-bolder">
              {{ r.interview_time }}
            </li>
            <li class="list-group-item d-flex row align-items-center fw-semibold">
              <div class="col">
                สาขา : {{ r.major }} 
              </div>
              <div class="col">
                ปีการศึกษา : {{ r.academic_year }}
              </div>
            </li>
            <li class="list-group-item d-flex fw-semibold">
              เอกสารที่จำเป็น : {{ r.documents }}
            </li>
              <div class="text-center">
                <form method="post">
                  {% csrf_token %}
                  <input type="hidden" name="round" id="round" value="{{r.id}}">
                  <button type="submit" onclick="resetRefreshCount()" class="btn btn-info mt-2 px-2 py-2">เลือก</button>
                </form>
              </div>
            </ul>
          </div>
        </div>
      </div>
      {% if forloop.counter|divisibleby:3 and not forloop.last %}
    </div><div class="row">
      {% endif %}
    {% endfor %}
  </div>


    {% else %}

    
    <meta http-equiv="refresh" content="60;">
    <div class="col d-flex mt-3 justify-content-center">
      <h1 class="fs-6 fw-bolder mt-1">รอบ : {{ link.round.round_name }} {{ link.round.academic_year }}</h1>
      <button onclick="exit_confirm()" class="btn fs-3 px-2 mx-2 btn-primary" type="submit">เปลี่ยน</button>
    </div>

      <div class="row mt-3 ">

        <div class="col-lg-12 d-flex align-items-strech">
          <div class="card w-100 d-flex flex-column">
            <div class="card-body">

                <div class="d-flex justify-content-between mb-2">
                  <span class="d-flex">
                    <h5 class=" fw-semibold fs-6 pe-1">เอกสารของ :</h5>
                    {% if docs %}
                    <h5 class=" fs-5 mt-1 fw-bolder text-muted">{{ docs.user.citizen_id|slice:":4" }}****{{ docs.user.citizen_id|slice:"-4:" }} {{docs.user.first_name}} {{docs.user.last_name}}</h5>
                    {% else %}
                    <h5 class=" fs-6 fw-bolder text-muted">ไม่มีผู้เข้าสอบ</h5>
                    {% endif %}
                  </span>
                  <a href="/Interviewer_room">
                    <span class="fs-7  text-secondary">
                      <i class="ti ti-refresh"></i>
                    </span>
                  </a>
                </div>
              <div class="text-center row">
                {% for h in have_docs %}
                  <div class="col-lg-2">
                    <a class="search-bordered btn btn-secondary px-9 py-9" href="{{ h.document.url }}" target="_blank"><i class="ti fs-9 ti-clipboard-text"></i></a><br>
                    <h1 class="fs-6 fw-bolder mt-1">{{h.doc_name}}</h1>
                  </div>
                {% endfor %}
                {% for d in need_docs %}
                <div class="col-lg-2">
                  <button class="search-bordered btn btn-muted px-9 py-9 " disabled><i class="ti fs-9 ti-clipboard-text"></i></button><br>
                  <h1 class="fs-6 fw-bolder mt-1">{{d}}</h1>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="col-lg-4 d-flex align-items-strech">
          <div class="card w-100 d-flex flex-column">
            <div class="card-body">
              <div class="d-sm-flex d-block align-items-center mb-9">
                <div class="card-title d-flex mb-3 mb-sm-0 justify-content-between">
                  <div class="">
                    <h5 class=" fw-semibold fs-6 pe-1">การให้คะแนน</h5>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <a class="search-bordered btn btn-danger px-9 py-9 "><i class="ti fs-9 ti-x"></i></a><br>
                <h1 class="fs-6 text-danger fw-bolder mt-1">ไม่พบเกณฑ์การให้คะแนน</h1>
              </div>
            </div>
          </div>
        </div> -->
        
        
        {% if docs %}
        <div class="d-flex justify-content-between mb-5 me-5 position-relative bottom-0 end-0">
          <form class="col d-flex" method="post" action="{% url 'toggle_status_active' link.id %}">
            {% csrf_token %}
            <input type="hidden" name="link_id" value="{{ link.id }}">
            <button class="search-bordered btn px-3 py-2 fs-7 fw-semiboldะ {% if link.active %}btn-danger{% else %}btn-success{% endif %}" type="submit">{{ link.active|yesno:"เปลี่ยนสถานะ,เปลี่ยนสถานะ" }}</button>
          </form>
          <button onclick="notify_confirm()" class="search-bordered btn green px-4 py-2 fs-7 me-2 text-white fw-semibold" style="background-color: #06C755;" type="submit">Line Notify</button>
          <button onclick="skip_confirm()" class="search-bordered btn btn-info px-4 py-2 fs-7 me-2 fw-semibold" type="submit">ข้าม</button>
          <button onclick="next_confirm()" class="search-bordered btn btn-success px-3 py-2 fs-7 fw-semibold" type="submit">ดำเนินการต่อ</button>
        </div>
        {% else %}
        <div class="d-flex justify-content-end mb-5 me-5 position-relative bottom-0 end-0">
          <form class="col d-flex" method="post" action="{% url 'toggle_status_active' link.id %}">
            {% csrf_token %}
            <input type="hidden" name="link_id" value="{{ link.id }}">
            <button class="search-bordered btn px-3 py-2 fs-7 fw-semiboldะ {% if link.active %}btn-danger{% else %}btn-success{% endif %}" type="submit">{{ link.active|yesno:"เปลี่ยนสถานะ,เปลี่ยนสถานะ" }}</button>
          </form>
          <button class="search-bordered btn green px-4 py-2 fs-7 me-2 text-white fw-semibold" style="background-color: #06C755;" type="submit" disabled>Line Notify</button>
          <button class="search-bordered btn btn-info px-4 py-2 fs-7 me-2 fw-semibold" type="submit" disabled>ข้าม</button>
          <button class="search-bordered btn btn-success px-3 py-2 fs-7 fw-semibold" type="submit" disabled>ดำเนินการต่อ</button>
        </div>
        {% endif %}
      </div>
      {% endif %}

    <div class="container_confirm" id="skip_confirm">
      <div class="text-end">
        <a href="/Interviewer_room">
          <i class="fs-6 ti ti-x text-danger"></i>
        </a>
        <h1 class="text-center fs-6 fw-semibold text-primary">ต้องการข้ามใช่หรือไม่?</h1>
      </div>
      <form method="post" class="container mt-4">
        {% csrf_token %}
        <input type="hidden" name="skip" id="skip" value="{{ docs.user.id }}">
        <div class="text-center">
          <button type="submit" onclick="resetRefreshCount()" class="btn btn-info btn-lg me-2">ยืนยัน</button>
          <a href="/Interviewer_room" class="btn btn-danger btn-lg">ยกเลิก</a>
        </div>
      </form>
    </div>
    
    <div class="container_confirm" id="exit_round">
      <div class="text-end">
        <a href="/Interviewer_room">
          <i class="fs-6 ti ti-x text-danger"></i>
        </a>
        <h1 class="text-center fs-6 fw-semibold text-primary">ต้องการออกใช่หรือไม่?</h1>
      </div>
      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="round_exit" value="{{ link.id }}">
        <div class="text-center">
          <button type="submit" onclick="resetRefreshCount()" class="btn btn-info btn-lg me-2">ยืนยัน</button>
          <a href="/Interviewer_room" class="btn btn-danger btn-lg">ยกเลิก</a>
        </div>
      </form>
    </div>

    <div class="container_confirm" id="notify_student">
      <div class="text-end">
        <a href="/Interviewer_room">
          <i class="fs-6 ti ti-x text-danger"></i>
        </a>
        <h1 class="text-center fs-6 fw-semibold text-primary">ต้องการแจ้งเตือนนักเรียนหรือไม่?</h1>
      </div>
      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="notify" value="{{ docs.user.id }}">
        <div class="text-center">
          <button type="submit" class="btn btn-info btn-lg me-2">ยืนยัน</button>
          <a href="/Interviewer_room" class="btn btn-danger btn-lg">ยกเลิก</a>
        </div>
      </form>
    </div>

    <div class="container_nextconfirm" id="next_confirm">
      <div class="text-end">
        <a href="/Interviewer_room">
          <i class="fs-6 ti ti-x text-danger"></i>
        </a>
        <h1 class="text-center fs-6 fw-semibold text-primary">ดำเนินการต่อหรือไม่?</h1>
      </div>
      <div class="container mt-4 d-flex justify-content-center">
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="finish_leave" id="finish_leave" value="{{ docs.user.id }}">
            <button type="submit" onclick="resetRefreshCount()" class="btn btn-danger btn-lg me-2">เสร็จสิ้นและออก</button>
        </form>
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="finish" id="finish" value="{{ docs.user.id }}">
            <button type="submit" onclick="resetRefreshCount()" class="btn btn-success btn-lg me-2">คนต่อไป</button>
            <a href="/Interviewer_room" class="btn btn-info btn-lg">ยกเลิก</a>
        </form>
      </div>
    </div>
</div>


<script>

window.onload = function() {
  setTimeout(function() {
    let refreshCount = localStorage.getItem('refreshCount') || 0;
    if (refreshCount < 2) {
      localStorage.setItem('refreshCount', ++refreshCount);
      window.location.reload();
    }
  }, 500);
};

function resetRefreshCount() {
            localStorage.setItem('refreshCount', 0);}
</script>

{% endblock %}
