<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/styles.min.css' %}" />
        {% block css_js %} 
        {% endblock %} 
      </head>
    <body>
        {% include 'admin/base/n_sidebar.html' %} 
        <div style="padding-left: 300px;">
            {% block topic %} 
            {% endblock %} 
            <h1 class="full-width-underline"></h1>
        
        
            {% block content %} 
            {% endblock %} 
        </div>
    </body>
</html>